In [ ]:
# This dataset is analysed by pooyan :)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [2]:
df = pd.read_csv('Ratings.csv')

In [3]:
df

,Team,Tournament,Goals,Shots pg,yellow_cards,red_cards,Possession%,Pass%,AerialsWon,Rating
0,Manchester City,Premier League,83,15.8,46,2,60.8,89.4,12.8,7.01
1,Bayern Munich,Bundesliga,99,17.1,44,3,58.1,85.5,12.9,6.95
2,Paris Saint-Germain,Ligue 1,86,15.0,73,7,60.1,89.5,9.5,6.88
3,Barcelona,LaLiga,85,15.3,68,2,62.4,89.7,10.6,6.87
4,Real Madrid,LaLiga,67,14.4,57,2,57.7,87.7,11.8,6.86
...,...,...,...,...,...,...,...,...,...,...
93,Sheffield United,Premier League,20,8.5,73,3,43.0,76.9,19.1,6.46
94,Crotone,Serie A,45,9.5,85,4,47.2,80.4,12.7,6.43
95,Benevento,Serie A,40,11.0,90,5,44.2,77.7,13.4,6.43
96,Dijon,Ligue 1,25,9.2,75,5,46.9,80.0,14.3,6.42
97,Schalke 04,Bundesliga,25,8.9,70,2,46.2,76.5,15.6,6.41

In [4]:
df.dtypes

Team             object
Tournament       object
Goals             int64
Shots pg        float64
yellow_cards      int64
red_cards         int64
Possession%     float64
Pass%           float64
AerialsWon      float64
Rating          float64
dtype: object

In [5]:
df.shape

(98, 10)

In [6]:
df.size

980

In [7]:
df.columns

Index(['Team', 'Tournament', 'Goals', 'Shots pg', 'yellow_cards', 'red_cards',
       'Possession%', 'Pass%', 'AerialsWon', 'Rating'],
      dtype='object')

In [8]:
df.info

<bound method DataFrame.info of                    Team      Tournament  Goals  Shots pg  yellow_cards  \
0       Manchester City  Premier League     83      15.8            46
1         Bayern Munich      Bundesliga     99      17.1            44
2   Paris Saint-Germain         Ligue 1     86      15.0            73
3             Barcelona          LaLiga     85      15.3            68
4           Real Madrid          LaLiga     67      14.4            57
..                  ...             ...    ...       ...           ...
93     Sheffield United  Premier League     20       8.5            73
94              Crotone         Serie A     45       9.5            85
95            Benevento         Serie A     40      11.0            90
96                Dijon         Ligue 1     25       9.2            75
97           Schalke 04      Bundesliga     25       8.9            70

    red_cards  Possession%  Pass%  AerialsWon  Rating
0           2         60.8   89.4        12.8    7.01
1           3         58.1   85.5        12.9    6.95
2           7         60.1   89.5         9.5    6.88
3           2         62.4   89.7        10.6    6.87
4           2         57.7   87.7        11.8    6.86
..        ...          ...    ...         ...     ...
93          3         43.0   76.9        19.1    6.46
94          4         47.2   80.4        12.7    6.43
95          5         44.2   77.7        13.4    6.43
96          5         46.9   80.0        14.3    6.42
97          2         46.2   76.5        15.6    6.41

[98 rows x 10 columns]>

In [10]:
df.describe()

,Goals,Shots pg,yellow_cards,red_cards,Possession%,Pass%,AerialsWon,Rating
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,52.183673,11.851020,69.704082,3.336735,49.995918,80.441837,16.006122,6.646122
std,16.445691,2.149718,15.137316,2.148814,4.890068,4.690172,3.078955,0.132148
min,20.000000,7.100000,40.000000,0.000000,38.500000,66.500000,9.500000,6.410000
25%,40.250000,10.325000,60.000000,2.000000,46.225000,78.025000,14.025000,6.540000
50%,50.000000,11.450000,67.500000,3.000000,49.750000,80.800000,16.100000,6.630000
75%,61.750000,13.350000,80.000000,4.750000,52.850000,83.450000,17.850000,6.730000
max,99.000000,17.100000,117.000000,10.000000,62.400000,89.700000,26.800000,7.010000

In [11]:
df.corr()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14864\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,Goals,Shots pg,yellow_cards,red_cards,Possession%,Pass%,AerialsWon,Rating
Goals,1.000000,0.829698,-0.189157,-0.001185,0.717834,0.694214,-0.495579,0.852152
Shots pg,0.829698,1.000000,-0.369343,-0.105080,0.759153,0.684035,-0.382147,0.851265
yellow_cards,-0.189157,-0.369343,1.000000,0.368847,-0.164302,-0.184238,0.060116,-0.417049
red_cards,-0.001185,-0.105080,0.368847,1.000000,-0.083360,-0.043761,-0.031791,-0.162358
Possession%,0.717834,0.759153,-0.164302,-0.083360,1.000000,0.851458,-0.543970,0.734978
Pass%,0.694214,0.684035,-0.184238,-0.043761,0.851458,1.000000,-0.764788,0.668573
AerialsWon,-0.495579,-0.382147,0.060116,-0.031791,-0.543970,-0.764788,1.000000,-0.327225
Rating,0.852152,0.851265,-0.417049,-0.162358,0.734978,0.668573,-0.327225,1.000000

In [12]:
df.nunique()

Team            98
Tournament       5
Goals           49
Shots pg        61
yellow_cards    53
red_cards       11
Possession%     80
Pass%           75
AerialsWon      62
Rating          43
dtype: int64

In [13]:
df.isnull().sum()

Team            0
Tournament      0
Goals           0
Shots pg        0
yellow_cards    0
red_cards       0
Possession%     0
Pass%           0
AerialsWon      0
Rating          0
dtype: int64